@page
@model CCS.Pages.Edit.FoodCategory.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="container-list">

        <div class="text-align-center">
            Food Category
        </div>

        <p class="create-align">
            <a asp-page="Create" class="btn btn-info">Create New Food Category</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th style="border-bottom:2px solid black; border-top:0px;">
                        @Html.DisplayNameFor(model => model.FoodCategory[0].FoodCategoryType)
                    </th>
                    <th style="border-bottom:2px solid black; border-top:0px;">
                        @Html.DisplayNameFor(model => model.FoodCategory[0].Description)    
                    </th>                    
                    <th style="border-bottom:2px solid black; border-top:0px;">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FoodCategory)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodCategoryType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>                        
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.FoodCategoryID" class="btn btn-primary">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.FoodCategoryID" class="btn btn-secondary">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.FoodCategoryID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
