@page
@model CCS.Pages.Edit.SubCategory.Grocery.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategory[0].FoodCategoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategory[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FoodCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FoodCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FoodCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
